.card__container{
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}
.card{
    width: 100%;
    margin: auto;
    padding:2.5rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 7px 0 rgba(0,0,0,.4),0 1px 7px 0 rgba(0,0,0,.4);
    margin: 2.5rem 0;

   
}
.card__info{
    /* display: flex;
    justify-content: space-between;
   align-items:start; */
    font-size: 1.5rem;
}
.card__btn{
    transform: translate(-50%);
    display: inline-block;
    margin-left: 50%;
    padding: 1rem 4rem;
    font-size: 2rem;    
    background-image: linear-gradient(to bottom right, rgba(78,172,253,255), rgba(8,92,243,255));
    border-radius: 50px;
    color: #fff;
    font-weight: 700;
}