
 
  
  .payment-container {
    width: 100%;
    position: relative;
  }
  
  .main {
    position: absolute;
    height: 430px;
    left: 50%;
    margin-top: 30px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
    width: 40%;
    background: #f7f7f7;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  
  .right-payment-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2rem;
  
    margin: auto;
  }
  
  .payment-method h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  .radio-container {
    display: flex;
    gap: 5px;
    align-items: center;
  }
  
  .radio-container label:not(:last-child) {
    margin-right: 20px;
  }
  
  .card-info-container {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .card-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
  }
  
  .card-info label {
    text-transform: uppercase;
    letter-spacing: 0.025em;
    font-size: 1.5rem;
  }
  
  .card-info input {
    margin-top: 5px;
    border: 1px solid grey;
    border-radius: 5px;
    letter-spacing: 0.025em;
    height: 25px;
  }
  .card-info input[type='text'] {
   outline: none;
   padding: 1.5rem;
  

  }
  
  .full-width {
    width: 200px;
    padding-left: 5px;
  }
  
  .expire-ccv {
    display: flex;
    justify-content: space-between;
  }
  
  .expire-ccv input {
    text-align: center;
  }
  
  .expire-ccv label {
    display: flex;
    flex-direction: column;
  }
  
  .expire-date {
    border: 1px solid #333333;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  .expire-date input {
    margin: 0;
    border: none;
  }
  
  .expire-date span {
    font-size: 14px;
    font-weight: 700;
  }
  
  .save-card-info {
    display: flex;
    align-items: center;
    font-size: 13px;
    gap: 5px;
    margin-top: 15px;
    letter-spacing: 0.025em;
  }
  
  input {
    background-color: #f7f7f7;
  }
  
  input:focus {
    outline: none;
  }
  
  .button {
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.05em;
    color: #f7f7f7;
    background-image: linear-gradient(to bottom right, rgba(78,172,253,255), rgba(8,92,243,255));
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  button:hover {
    background-image: linear-gradient(to bottom right, rgba(8,92,243,200), rgba(8,92,243,200));
  }
  @media only screen and (max-width:768px){
    .main{
      width: 90%;
    }
  }